
/*
  Variables
*/

:root {
  --ic-cl-bg-readonly: #bdbdbd45;
  --ic-cl-pass: #198754;
  --ic-cl-error: #e35d6a;
  --ic-cl-warning: #f0ad4e;

  /* icons - variables can't be within url(), so some colors are duplicated */
  --bi-check-circle-fill: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23198754" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>');
  --bi-x-circle-fill: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23e35d6a" class="bi bi-x-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/></svg>');
  --bi-dash-circle-fill: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-dash-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/></svg>');
  --bi-terminal-fill: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="darkgreen" class="bi bi-terminal-fill" viewBox="0 0 16 16"><path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146z"/></svg>');
  --bi-chevron-down: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  --bi-card-checklist: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-card-checklist" viewBox="0 0 16 16"><path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/><path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/></svg>');
}


/*
  Terminal
*/

#lbvm-terminal-canvas {
  width: 775px; /* TODO: make this responsive, use xterm.js auto-fit */
}

.terminal-toggler-icon {
  flex-shrink: 0;
  display: flex;
  width: 32px;
  height: 32px;
  content: "";
  background-image: var(--bi-terminal-fill);
  background-repeat: no-repeat;
  background-size: 32px;
}


/*
  ICode - text editor
*/

.readonly.CodeMirror-linebackground {
  /* Applies to specific lines within files that are partially editable */
  background: var(--ic-cl-bg-readonly);
}

.CodeMirror.cm-s-readonly {
  /* Applies when an entire file is readonly */
  background: var(--ic-cl-bg-readonly);
}


/*
  ICode - feedback

  A collapsible list of tests, each with a collapsible details section
*/

/* The element that expands/collapses the feedback section when clicked */
.ic-c-tests__toggle {
  border: none;
  width: 68px;
  height: 32px;
  background-image: var(--bi-card-checklist);
  background-repeat: no-repeat;
  background-size: 32px;
  background-color: transparent;
}

.ic-c-tests__toggle:hover {
  border: none;
  background-color: transparent;
}

.ic-c-tests__toggle::after {
  display: inline-block;
  position: relative;
  left: 20px;
  width: 32px;
  height: 32px;
  content: "";
  background-image: var(--bi-chevron-down);
  background-repeat: no-repeat;
  background-size: 32px;
  transition: all 0.2s;
  transform: rotate(-180deg);
}

.ic-c-tests__toggle.collapsed::after {
  transform: rotate(0);
}

/* the icon preceding the test header that shows the result */
.ic-c-test__hdr::before {
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-right: 1em;
  content: "";
  background-image: var(--bi-dash-circle-fill);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
}

.ic-c-test__hdr--pass::before {
  background-image: var(--bi-check-circle-fill);
}

.ic-c-test__hdr--error::before {
  background-image: var(--bi-x-circle-fill);
}

/* interactive element that expands/collapses details of individual checks */
.ic-c-test__hdr:disabled::after {
  /* don't show the icon unless there are details to show */
  background-image: none;
}

.ic-l-check {
  border: 0px solid;
  border-left-width: .5rem;
  border-radius: .25rem;
  padding: .5rem;
  margin-bottom: 2px;
}

.ic-l-code-inline {
  background-color: #0002;
  padding: .5em;
  border-radius: .5rem;
  font-family: var(--bs-font-monospace);
  margin-left: .25rem;
  margin-right: .25rem;
}

/* Shows data written e.g. to stdout by a test command */
.ic-l-code {
  margin-top: 1rem;
  margin-bottom: 0;
  background-color: #0002;
  border-radius: .25rem;
  padding: .5rem;
  max-height: 20rem;
}

.ic-l-check-pass {
  border-color: var(--ic-cl-pass);
}

.ic-l-check-error {
  border-color: var(--ic-cl-error);
}

.ic-l-check-warning {
  border-color: var(--ic-cl-warning);
}
